/*
 * 各別頁面使用的 css
 */
@import "./common/main.scss";
//default color ##29B6F6
@mixin focusColor($color: #29B6F6) {
  border: solid 1px $color;;
}

.circle{
  width: 100px;
  height: 100px;
  display: block;
  border-radius : 20px;
  @include focusColor();
}